@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iteration 2 HomePage</title>
    @Styles.Render("~/Content/Iteration2/css/style")
    @Scripts.Render("~/bundles/Iteration1")

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css' />
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyATF3DsCfTsMYuUIfPOPhRfuK4n5JJbqnM&libraries=places"></script>*@
</head>
<body>
    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand scroll-top">
                        <div class="logo"></div>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="scroll-top">Home</a></li>
                        <li><a href="#" class="scroll-link" data-id="map-section">Safety Map</a></li>
                        @*<li><a href="#" class="scroll-link" data-id="Statistics">Statistics</a></li>*@
                        <li><a href="#" class="scroll-link" data-id="Aboutus">About Us</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
    <div style="background-color:#fcf4fc;">
        <div class="cd-hero" style="top:-80px;">
            <ul class="cd-hero-slider autoplay">
                <!--
                    <ul class="cd-hero-slider autoplay"> for slider auto play
                    <ul class="cd-hero-slider"> for disabled auto play
                -->
                <li class="selected first-slide">
                    <div class="cd-full-width">
                        <div class="tm-slide-content-div slide-caption">
                            <br>
                            <h1>A MAP to navigate safely on the streets of Melbourne CBD</h1>
                            @*<h4>You may need </h4>
                                <h2>A Safety Map</h2>*@
                            <br>
                            <br>
                            <div class="primary-button">
                                <a href="#" class="scroll-link" data-id="map-section">Try Now</a>
                            </div>
                        </div>
                    </div> <!-- .cd-full-width -->
                </li>

                <!--More slides here-->

            </ul> <!-- .cd-hero-slider -->

            <div class="cd-slider-nav">
                <nav>
                    <span class="cd-marker item-1"></span>

                    <ul>
                        <li class="selected"><a href="#0"></a></li>
                        <li><a href="#0"></a></li>
                        <li><a href="#0"></a></li>
                    </ul>
                </nav>
            </div> <!-- .cd-slider-nav -->
        </div> <!-- .cd-hero -->

        <div id="map-section" class="page-section">

            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Safety Map</h4>
                        <div class="line-dec"></div>
                        <br>
                        <p style="text-align:center;font-size: 18px;">
                            Try our intelligent safety map.
                            <br>
                            You can set your preferences to generate a customized score, provide your input, and plan your routes.
                        <p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: right">
                    <button id="remark_q" type="button" class="btn1 btn-intro btn-lg round" data-placement="bottom">
                        ?
                    </button>

                    <lable style="color:#7030A0"><strong>Remarks</strong></lable>

                    <button id="setting_q" type="button" class="btn1 btn-intro btn-lg round" data-placement="bottom">
                        ?
                    </button>

                    <button id="setting" type="button" class="btn btn-link" style="padding-left:0px;padding-right:0px;color:#7030A0;max-width:100%;" data-placement="bottom"><Strong>Preferences</Strong></button>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="safetymap" style="width:100%;height:500px;">
                        <div id='state-legend' class='legend'>
                            <h4>Safety score</h4>
                            <h4 style="font-size:12px;">Higher, Safer</h4>
                            <div><span style='background-color: #548235'></span>4-5</div>
                            <div><span style='background-color: #C5E0B4'></span>3-4</div>
                            <div><span style='background-color: #FFC000'></span>2-3</div>
                            <div><span style='background-color: #D07F78'></span>1-2</div>
                            <div><span style='background-color: #C00000'></span>0-1</div>
                        </div>
                    </div>
                </div>
            </div>


            <!--Iteration 2-->
            @*<div id="Statistics" class="page-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading">
                                    <h4>Statistics</h4>
                                    <div class="line-dec"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item first-service">
                                    <div class="icon"></div>
                                    <h4>Category 1</h4>
                                    <p>Description of category 1</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item second-service">
                                    <div class="icon"></div>
                                    <h4>Category 2</h4>
                                    <p>Description of category 2</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item third-service">
                                    <div class="icon"></div>
                                    <h4>Category 3</h4>
                                    <p>Description of category 4</p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="service-item fourth-service">
                                    <div class="icon"></div>
                                    <h4>Category 4</h4>
                                    <p>Description of category 4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@

            <!--About US-->
            <div id="Aboutus" class="page-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-heading">
                                <h4>About Us</h4>
                                <div class="line-dec"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="item b1">
                                <div class="thumb">
                                    <div class="text-content">
                                        <p>
                                            Under the theme of Changing Melbourne,
                                            the team Melbourne Wizards focus is on improving women safety in Melbourne city centre.
                                            Purple Umbrella is such a product would be able to display safety index scores of areas in and around Melbourne CBD
                                            the website can be viewed both on a personal computer and a mobile device.
                                            It will be able to show safety index score based on user preference.
                                            The underlying support of achieving the above function is a list of datasets from multiple open data platforms.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 team-logo"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2019 Melbourne Wizards
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/Iteration3Defer")
</body>
</html>
