<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/99d84149-d2b7-4cc2-8173-26639c583249/resourcegroups/PurpleUmbrella/providers/Microsoft.Web/sites/PurpleUmbrella</ResourceId>
    <ResourceGroup>PurpleUmbrella</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://purpleumbrella.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>purpleumbrella.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PurpleUmbrella</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PurpleUmbrella</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pu.database.windows.net,1433;Initial Catalog=PurpleUmbrella;Persist Security Info=False;User ID=AdminKeon;Password=Keon_1234567;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:pu.database.windows.net,1433;Initial Catalog=PurpleUmbrella;Persist Security Info=False;User ID=AdminKeon;Password=Keon_1234567;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Purple_Umbrella.Models.ApplicationDbContext, Purple_Umbrella" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PurpleUmbrella" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:pu.database.windows.net,1433;Initial Catalog=PurpleUmbrella;Persist Security Info=False;User ID=AdminKeon;Password=Keon_1234567;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PurpleUmbrella_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:pu.database.windows.net,1433;Initial Catalog=PurpleUmbrella;Persist Security Info=False;User ID=AdminKeon;Password=Keon_1234567;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PurpleUmbrella-Web.config Connection String" />
    <MSDeployParameterValue Include="DataModel-Web.config Connection String">
      <ParameterValue>Server=tcp:pu.database.windows.net,1433;Initial Catalog=PurpleUmbrella;Persist Security Info=False;User ID=AdminKeon;Password=Keon_1234567;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>